{% extends "base.html" %}

{% block title %}Item Management Dashboard{% endblock %}

{% block content %}
<h1>Item Management Dashboard</h1>
 <ul>
   <li><a href="/check-uploads">Check for New Uploads</a> (working)</li>
   <li><a href="/categorise">Categorise Items</a> (working)</li>
   <li><a href="/enter">Enter Item Data</a> (in progress)</li>
   <li><a href="/measurements">Download Measurements CSV</a></li>
   <li><a href="/price-research">Price Research</a></li>
   <li><a href="/listed">Listed Items</a></li>
   <li><a href="/stock-take">Stock Take</a></li>
   <li><a href="/debug/items">Debug items</a></li>
 </ul>
 {% endblock %}
